<h1>Editing Book</h1>

<% if @book.errors.any? %>
  <div class="error"><%= @book.errors.count %> error prohibited this book from being saved:
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  </div>
<% end %>
<!-- form_with部分 -->
<%= form_with model: @book, local:true do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>

  <br>
  <%= f.submit 'Update Book' %>

<% end %>

  <%= link_to 'Show', book_path(@book), class: "show_#{@book.id}" %>
   |
  <%= link_to 'Back', "/books", class: "back" %>